/amms/.anchor
.DS_Store
amms/target
**/*.rs.bk
/amms/node_modules
amms/test-ledger
amms/.yarn
amms/package-lock.json
amms/yarn.lock
amms/Cargo.lock
/amms/.idea/
.idea
/amms/programs/cpmm/proptest-regressions/
/owner.json
/amms/clients/